*{
    box-sizing: border-box;
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body {
    background-color: rgb(224, 236, 207);
}

.header-container,
.main-container {
     max-width: 500px;
     margin: 0 auto;
}

.title {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c6c8ca;
}

.content {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.memes {
    padding-top: 15px;
    padding-bottom: 15px;
}

body:hover .content {
    color: #000;
}

.meme-button {
    display: none;
} 

.memes:hover .meme-button {
    display:inline-block;
    width: 40px;
    height: 40px;
    background:
      linear-gradient(#000, #000),
      linear-gradient(#000, #000);
    background-position:center;
    background-size: 50% 4px,4px 50%; 
    background-repeat:no-repeat;
    border: none;
}
 
.meme-one,
.meme-two,
.meme-three,
.meme-four {
    padding-bottom: 15px;
    border-bottom: 2px solid #c6c8ca;
}

.image-one,
.image-two,
.image-three,
.image-four,
.image-five {
    display: none;
}

.meme-one:hover .image-one,
.meme-two:hover .image-two,
.meme-three:hover .image-three,
.meme-four:hover .image-four,
.meme-five:hover .image-five {
display: block;
}

.meme-one:hover .meme-button,
.meme-two:hover .meme-button,
.meme-three:hover .meme-button,
.meme-four:hover .meme-button,
.meme-five:hover .meme-button {
    transform: rotate(45deg);
}

.memes:hover .image {
width: 300px;
margin: 0 auto;
}

.meme {
    margin: 0 auto;
}

.memes:hover .meme {
    display: block;
}

.meme-dot {
    width: 0;
    height: 0;
}
  





